@page
@model FirstPages.Login

@{
    ViewData["Title"] = "Se connecter";
}

<div>
    <h1>Se connecter</h1>
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" asp-for="User.Email" class="form-control">
            <span class="text-danger" asp-validation-for="User.Email"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Mot de passe</label>
            <input type="password" asp-for="User.Password" class="form-control">
            <span class="text-danger" asp-validation-for="User.Password"></span>
        </div>
        <div class="mb-3">
                <input type="submit" value="Submit" asp-page-handler="Submit"/>
            </div>
    </form>
</div>
